.ipynb_checkpoints/
dtypes&MemoryMedium.pdf
HomeCredit_columns_descriptionXLS.xlsx
logo_pret_a_depenser.png
Martin_Kotek-XNA_XAP_equal_NaN.png
Notes.docx
Orga CSVs.pptx
Patin_Clement_2_presentation_072023.pptx
Valeurs_refletant_NaN.docx
Projet+Mise+en+prod+-+home-credit-default-risk/
myCSVs
__pycache__/
